a.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

a.link-button .icon {
  width: 2rem;
  height: 2rem;
  padding: 3px;
  background-color: var(--primary-color);
  border: 1px solid #fff;
  background-clip: content-box;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.link-button .icon .play-icon {
  border: 7px solid #fff;
  width: 0;
  height: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  margin-right: -10px;
}

a.link-button .label {
  margin-left: 0.6rem;
}
