.navigator {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigator ul li {
  margin: 60px 0;
}

.navigator ul li:first-child {
  margin-top: 0;
}

.navigator ul li:last-child {
  margin-bottom: 0;
}

.navigator ul li a {
  color: #fff;
  border: 2px solid #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigator::before {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #fff;
  z-index: 0;
}

.navigator ul {
  z-index: 1;
}

.navigator ul li a:hover,
.navigator ul li a.active {
  color: var(--primary-color);
  background-color: #fff;
}

.navigator .navigator__icon {
  position: absolute;
  top: -20px;
}
